:root {
  --scroll-size: 0.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #111111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--scroll-size);
  background: #333333;
}

@media (max-width: 960px) {
  .movieList-item {
    margin: 0 auto;
    max-width: 33% !important;
  }
}
@media (max-width: 768px) {
  .movieList-item {
    max-width: 50% !important;
  }
}
@media (max-width: 450px) {
  .movieList-item {
    max-width: 320px !important;
  }
}
