:root {
  --scroll-size: 0.5rem;

  /* --- youtube vide --- */
  --yt-card-radius: 0.75rem;
  --yt-card-handle-h: 2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #111111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--scroll-size);
  background: #333333;
}

/* ------ movie card responsive video ------*/
@media (max-width: 960px) {
  .movieList-item {
    margin: 0 auto;
    max-width: 33% !important;
  }
}
@media (max-width: 768px) {
  .movieList-item {
    max-width: 50% !important;
  }
}
@media (max-width: 450px) {
  .movieList-item {
    max-width: 320px !important;
  }
}

/* ------ youtube video ------*/
.video-container,
.video-container-loader {
  cursor: pointer;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: calc(100% - var(--yt-card-handle-h));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 var(--yt-card-radius) var(--yt-card-radius);
  overflow: hidden;
}
.video-container-loader {
  position: absolute;
  top: var(--yt-card-handle-h);
  left: 0;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ carousel ------*/
.container-carousel {
  width: 100%;
  position: relative;
  z-index: 10;
  margin-bottom: 0.5rem;
  overflow-x: clip;
}
.container-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 2.5rem;
  height: 100%;
  background: linear-gradient(90deg, transparent, #111);
}
.scroll-content-carousel {
  width: max-content;
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 600px) {
  .container::after {
    width: 5rem;
  }
}

/* ------ progress bar styles https://unpkg.com/nprogress@0.2.0/nprogress.css ------- */
#nprogress .bar {
  background: linear-gradient(
    112deg,
    #aaffec -63.59%,
    #ff4ecd -20.3%,
    #0070f3 70.46%
  );
}
